@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorPrincipal: #00A884;
  --colorSecundario: #00d68793;
  --colorTerciario: #0ABF64;
  --fondoOscuro: #F4F4F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}